@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* @custom-variant dark (&:is(.dark *)); */

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/* :root {
    --background: background(#FF6B6B);
    --background-secundary: background(#FF6B6B);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: color(#1F2937);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
} */


*{
    /* background-color: #F9FAFB; */
    color: #1F2937;
    transition: 1000ms;
}
.collapse{
    visibility: visible;
    justify-content: flex-end;
}
.navbar{
    font-size: 1.6vw;
}
.nav-item{
    /* padding: 0 2rem; */
    color: #1F2937;
    transition: 1000ms;
    border-radius: 20px;
    width: 12rem;
    text-align: center;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.nav-link{
    color: #1F2937;
    border-radius: 20px;
    transition: 1000ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
/* .nav-link:hover{
    transition: 1000ms;
    border-radius: 20px;
    background: #FF6B6B;
    color: #FFFFFF;
} */
.navbar-blue{
    background: #3ABEFF;
    border-radius: 20px;
    width: 15rem;
    text-align: center;
    transition: 1000ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.iconsLogo{
    width: 4rem;
    object-fit: cover;
    margin-right: 10px;
}
footer{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
}
.footer-info{
    display: grid;
}
.footer-info > div > .footer-logo > picture > img{
    width: 8rem;
}
.footer-info > .footer-icons{
    display: flex;
    padding: 0 0rem;
}
.footer-icons > a{
    padding: 0 1rem;
    width: 6rem;
}
.footer-sitio{
    display: grid;
    color: #1F2937;
    width: 12rem;
}
.footer-sitio > a{
    color: #1F2937;
    text-decoration: none;
}    