@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

*{
    /* background-color: #F9FAFB; */
    color: #1F2937;
    transition: 500ms;
}
.collapse{
    visibility: visible;
    justify-content: flex-end;
}
.navbar{
    font-size: 1.6vw;
}
.nav-item{
    /* padding: 0 2rem; */
    color: #1F2937;
    transition: 1000ms;
    border-radius: 20px;
    width: 12rem;
    text-align: center;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.nav-link{
    color: #1F2937;
    border-radius: 20px;
    transition: 1000ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.navbar-blue{
    background: #3ABEFF;
    border-radius: 20px;
    width: 15rem;
    text-align: center;
    transition: 1000ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.iconsLogo{
    width: 6rem;
    object-fit: cover;
}
/*  */
.btn-flotante {
	position: fixed;
	bottom: 50px;
	right: 30px;
	transition: all 300ms ease 0ms;
	z-index: 100;
    animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
    box-shadow: 0 0 0 0 #27d367;
    border-radius: 50%;
    transition:     .3s ease-in-out;
}
.btn-flotante img{
    width: 70px;
}
.btn-flotante img:hover {
    border-radius: 50%;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.3);
    transition:     .3s ease-in-out;
}
@keyframes pulse{
    100% {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);
    }
}
/*  */
footer{
    font-size: 1.7vw;
    display: flex;
    justify-content: space-evenly;
}
.footer-info{
    display: grid;
}
.footer-info > div > .footer-logo > picture > img{
    width: 8rem;
}
.footer-info > .footer-icons{
    display: flex;
    padding: 0 0rem;
    align-items: center;
}
.footer-icons > a{
    padding: 0 1rem;
    width: 6rem;
}
.footer-sitio{
    display: grid;
    color: #1F2937;
    width: 12rem;
}
.footer-sitio > a{
    color: #1F2937;
    text-decoration: none;
}
.first-seccion{
    display: flex;
    padding: 1rem;
    width: 100%;
}
.seccion-img-perfil > picture > img{
    padding: 0rem;
    border-radius: 50px;
    width: 80%;
    justify-self: center;
}
.seccion-info-perfil{
    font-size: 1.12vw;
    width: 90%;
    padding: 0 1rem;
}
.seccion-info-perfil >h1{
    text-align: center;
}
.seccion-icons{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;    
}
.seccion-icons > a{
    padding: 1.2rem;
    width: 13vh;
}
.desarrollos{
    text-align: center;
}
.desarrollos > h3{
    font-size: 5vw;
}
.carts-div{
    display: grid;
    max-width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    padding: 2rem;
    justify-items: center;
    justify-self: center;
}
.carts{
    display: grid;
    width: 20rem;
    border-radius: 25px;
    border: 1px solid #FF6B6B;
    box-shadow: 2px 3px 5px 1px #1F2937;
}
.carts > img{
    width: 100%;
    border-radius: 25px 25px 0 0;
    padding: 1rem;
}
.carts > h2{
    text-align: center;
    font-size: 1.6vw; 
}
.carts > p{
    /* text-align: left; */
    padding: 1rem;
}
.carts > a{
    text-decoration: none;
    color: #1F2937;
    background: #3ABEFF;
    border-radius: 10px;
    width: 42%;
    justify-self: center;
    align-items: center;
    justify-items: center;
    padding: 0.2rem;
    margin: 0.9rem;
    box-shadow: 2px 3px 5px 1px #1F2937;
    &:hover{
        box-shadow: 0px 0px 0px 0px;
        transform: translate(2px, 3px);
        /* border: 2px solid #3ABEFF; */
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    footer{
        font-size: 2.3vw;
    }
    .seccion-img-perfil > picture > img{
        border-radius: 25px;
        width: 85%;
        justify-self: center;
    }
    .seccion-info-perfil{
        font-size: 1.6vw;
        width: 100%;
        padding: 0 1rem;
    }
    .seccion-info-perfil >h1{
        font-size: 2.6vw;
    }
}
@media (max-width: 767px){
    footer{
        font-size: 1.4rem;
        display: grid;
        text-align: center;
        justify-items: center;
        gap: 2rem;
    }
    .footer-info{
        justify-items: center;
    }
    .first-seccion{
        display: grid;
        padding: 1rem;
        width: 100%;
    }
    .seccion-img-perfil > picture > img{
        border-radius: 70px;
        width: 100%;
    }
    .seccion-info-perfil{
        font-size: 4.6vw;
        width: 100%;
        padding: 0 1rem;
    }
    .seccion-info-perfil >h1{
        font-size: 7vw;
    }
    .carts-div{
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
    }
    .carts{
        width: 17rem;
    }
}