@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

*{
    /* background-color: #F9FAFB; */
    color: #1F2937;
    transition: 1000ms;
}
.collapse{
    visibility: visible;
    justify-content: flex-end;
}
.navbar{
    font-size: 1.6vw;
}
.nav-item{
    /* padding: 0 2rem; */
    color: #1F2937;
    transition: 1000ms;
    border-radius: 20px;
    width: 12rem;
    text-align: center;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.nav-link{
    color: #1F2937;
    border-radius: 20px;
    transition: 1000ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.navbar-blue{
    background: #3ABEFF;
    border-radius: 20px;
    width: 15rem;
    text-align: center;
    transition: 1000ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.iconsLogo{
    width: 6rem;
    object-fit: cover;
}
footer{
    font-size: 1.7vw;
    display: flex;
    justify-content: space-evenly;
}
.footer-info{
    display: grid;
}
.footer-info > div > .footer-logo > picture > img{
    width: 8rem;
}
.footer-info > .footer-icons{
    display: flex;
    padding: 0 0rem;
    align-items: center;
}
.footer-icons > a{
    padding: 0 1rem;
    width: 6rem;
}
.footer-sitio{
    display: grid;
    color: #1F2937;
    width: 12rem;
}
.footer-sitio > a{
    color: #1F2937;
    text-decoration: none;
}
.first-seccion{
    display: flex;
    padding: 1rem;
    width: 100%;
}
.seccion-img-perfil > picture > img{
    padding: 0rem;
    border-radius: 50px;
    width: 80%;
    justify-self: center;
}
.seccion-info-perfil{
    font-size: 1.12vw;
    width: 90%;
    padding: 0 1rem;
}
.seccion-info-perfil >h1{
    text-align: center;
}
.seccion-icons{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;    
}
.seccion-icons > a{
    padding: 1.2rem;
    width: 13vh;
}
.desarrollos{
    text-align: center;
}
.desarrollos > h2{
    font-size: 5vw;
}
.carts-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}
@media (min-width: 768px) and (max-width: 1024px){
    footer{
        font-size: 2.3vw;
    }
    .seccion-img-perfil > picture > img{
        border-radius: 25px;
        width: 85%;
        justify-self: center;
    }
    .seccion-info-perfil{
        font-size: 1.6vw;
        width: 100%;
        padding: 0 1rem;
    }
    .seccion-info-perfil >h1{
        font-size: 2.6vw;
    }
}
@media (max-width: 767px){
    footer{
        font-size: 1.4rem;
        display: grid;
        text-align: center;
        justify-items: center;
        gap: 2rem;
    }
    .footer-info{
        justify-items: center;
    }
    .first-seccion{
        display: grid;
        padding: 1rem;
        width: 100%;
    }
    .seccion-img-perfil > picture > img{
        border-radius: 70px;
        width: 100%;
    }
    .seccion-info-perfil{
        font-size: 4.6vw;
        width: 100%;
        padding: 0 1rem;
    }
    .seccion-info-perfil >h1{
        font-size: 7vw;
    }
}